h1 {
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  hr {
    height: 2px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  div.middle, div.bottom {
    text-align: center;
    font-size: 30px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .middle, .bottom {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .navbar form {
    flex-grow: 1;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
  }
  
  .button, .button1, .button2, .button3 {
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    max-width: 100%;
    overflow: hidden;
  }
  
  .button1 {
    margin-right: 250px;
  }
  
  .button2, .button3 {
    font-size: 15px;
    margin-right: 100px;
    border-radius: 30px;
    border: normal;
  }
  
  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    margin-top: 5px;
    max-width: 100%;
    overflow: hidden;
  }
  
  p {
    padding-top: 10px;
    font-size: 20px;
    padding-left: 7px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .text {
    word-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
  }