{% extends "base.html" %}

{% block title %}Friends{% endblock %}

{% block content %}



<!DOCTYPE HTML>
<html>
<head>
<style>
#div1, #div2, #div6, #div3, #div4, #div5{
  width: 60px;
  height: 35px;
  margin: 10px;
  padding: 60px;
  border: 1px solid black;
  display:inline;
}

#seperate {
display:block;
margin-top: 30px;}

#img1, #img2, #img3, #img4, #img5, #img6{
padding:30px;
font-size:30px;
}

</style>
<script>
function dragstartHandler(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function dragoverHandler(ev) {
  ev.preventDefault();
}

function dropHandler(ev) {
  ev.preventDefault();
  const data = ev.dataTransfer.getData("text");
  const imgTag = document.getElementById(data)

  const dropTarget = ev.target;
  const box = dropTarget.classList.contains("box") ? dropTarget : dropTarget.closest(".box");
  if (box.querySelector("button")) {
    console.log(`Box ${boxNumber} already has an letter, cannot overlap`);
    return;
  }

  ev.target.appendChild(imgTag);
}

var totPoint = 0;
function checkLetters() {
  const boxes = document.querySelectorAll(".seperate .box");
  const boxesAdd = document.querySelectorAll(".pls .addBoxy");
  let letters = "";
  let numLetters = 0;

  boxes.forEach(box => {
    const letterBtn = box.querySelector("button");
    if (letterBtn) {
      letters += letterBtn.textContent.trim();
      numLetters++;
    }
  });

    
  const messageElement = document.getElementById("points");
  const tot = document.getElementById("tot");
  const enter = document.getElementById("enterWord");
    let pointsArr = [];
    let pointsCateg = {
  3: 100,
  4: 400,
  5: 1200,
  6: 2000
};

  let addLetters = [];
  let usedLetters = [];

    if (numLetters >= 3) {
        console.log("true");
        fetch('https://ankita320.github.io/anagrams_wordList/wordList.json')
          .then(response => response.json())
          .then(data => {
            if (data.includes(letters.toLowerCase())) {
              if (usedLetters.includes(letters)) {
                messageElement.innerHTML = `+${letters} ALREADY USED!`;
              }
              else if (!usedLetters.includes(letters)) {
                usedLetters.push(letters);
                let pointThing = pointsCateg[numLetters];
                pointsArr.push(pointThing);
                totPoint += pointThing;
                messageElement.innerHTML = `+${pointThing} points!`;
                tot.innerHTML = `Total Points: ${totPoint}`;
                
              }
              else if (!data.includes(letters.toLowerCase())) {
                messageElement.innerHTML = `+${letters} NOT IN VOCABULARY!`;
              }
             
              
             
              boxes.forEach(box => {
              const button = box.querySelector("button");
              if (button) {
                box.removeChild(button);
                addLetters.push(button);
                boxesAdd.forEach((box, i) => {
                if (!box.querySelector("button") && letters[i]) {
                  box.appendChild(button);
                }
              
            
          });
                
              }
              
            });
            

              
        }})
        

          
          .catch(error => {
            console.error('Error!!!!!', error);

          });
      

    } else {
        console.log("false");
        enter.disabled = true;
    }
}



</script>
</head>
<body>

<button id="tot">Total Points: </button>
<div class="seperate">
<div class = "box" ondrop="dropHandler(event)"  id="div1" ondragover="dragoverHandler(event)"></div>
<div class = "box"  ondrop="dropHandler(event)" id="div2"  ondragover="dragoverHandler(event)"></div>
<div class = "box"  ondrop="dropHandler(event)" id="div3"  ondragover="dragoverHandler(event)"></div>
<div class = "box" id="div4" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)"></div>
<div class = "box" id="div5" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)"></div>
<div class = "box" id="div6" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)"></div>
</div>
<br></br>
<br></br>
<br></br>

<button id="enterWord" onclick="checkLetters()">Enter</button>

<h3 id = "points"></h3>

<br>
<br>
<div class="pls">
<div class = "box addBoxy" id="div1" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)">
<button class="letter" id="img1" draggable="true" ondragstart="dragstartHandler(event)" width="100" height="100">{{ letters.0 }}</button>
</div>

<div class = "box addBoxy" id="div2" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)">
<button class="letter" id="img2" draggable="true" ondragstart="dragstartHandler(event)" width="100" height="100">{{ letters.1 }}</button>
</div>

<div class = "box addBoxy" id="div3" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)">
<button class="letter" id="img3" draggable="true" ondragstart="dragstartHandler(event)" width="100" height="100">{{ letters.2 }}</button>
</div>

<div class = "box addBoxy" id="div4" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)">
<button class="letter" id="img4" draggable="true" ondragstart="dragstartHandler(event)" width="100" height="100">{{ letters.3 }}</button>
</div>

<div class = "box addBoxy"  id="div5" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)"><button class="letter" id="img5" draggable="true" ondragstart="dragstartHandler(event)" width="100" height="100">{{ letters.4 }}</button></div>


<div class = "box addBoxy"  id="div6" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)"><button class="letter" id="img6" draggable="true" ondragstart="dragstartHandler(event)" width="100" height="100">{{ letters.5 }}</button></div>
</div>

</div>


</body>
</html>
{% endblock %}