{% extends "base.html" %}
{% block title %}Games{% endblock %}

{% block content %}

    <!-- Highlight Cards Section -->
    <div class="mt-12">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-6">Games: </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

          <div class="group p-4 bg-white dark:bg-gray-800 shadow rounded-lg relative overflow-hidden">
              <h3 class="text-xl font-bold text-gray-800 dark:text-gray-100">Anagrams</h3>
              <p class="text-gray-600 dark:text-gray-300 mt-2">Some description here</p>
              <div class="absolute inset-0 bg-blue-500 bg-opacity-0 group-hover:bg-opacity-10 transition duration-300"></div>
              <div class="absolute bottom-4 left-4 hidden group-hover:flex space-x-2">
                  <a href="{{ url_for('anagrams') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition">Play now!</a>

              </div>
          </div>


          <div class="group p-4 bg-white dark:bg-gray-800 shadow rounded-lg relative overflow-hidden">
              <h3 class="text-xl font-bold text-gray-800 dark:text-gray-100">wordbites</h3>
              <p class="text-gray-600 dark:text-gray-300 mt-2">wordbites</p>
              <div class="absolute inset-0 bg-purple-500 bg-opacity-0 group-hover:bg-opacity-10 transition duration-300"></div>
              <div class="absolute bottom-4 left-4 hidden group-hover:flex space-x-2">
                  <a href="{{ url_for('wordhunt') }}" class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition">wordbites</a>
              </div>
          </div>


          <div class="group p-4 bg-white dark:bg-gray-800 shadow rounded-lg relative overflow-hidden">
              <h3 class="text-xl font-bold text-gray-800 dark:text-gray-100">wordhunt</h3>
              <p class="text-gray-600 dark:text-gray-300 mt-2">wordhunt</p>
              <div class="absolute inset-0 bg-green-500 bg-opacity-0 group-hover:bg-opacity-10 transition duration-300"></div>
              <div class="absolute bottom-4 left-4 hidden group-hover:flex space-x-2">
                <a href="{{ url_for('wordbites') }}"s class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition">wordhunt</a>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>
{% endblock %}
