<!--gamepage.html
Nav bar (see above)
All directly sent pending challenges (from friends or not) at the top of page
3 floating cards of 3 games and different game mode options (if game is created or joined, redirect to respective game page)
Pending users waiting for another player below the cards
Ability to invite friend/user to new game (search up) 
Start a new multiplayer game (play your round and wait for someone else to play one)
Start a new single player game
Clicking start a new game prompts a pop-up that allows you to choose between single player or multiplayer mode
** Pending challenge from __: Accept/Decline
** Pending challenge from __: Accept/Decline

Anagrams             
Maybe a one sentence desc here
Word Hunt
Maybe a one sentence desc here
Word bites
Maybe a one sentence desc here
Pending games to join:
** User__
** User__
Pending games to join:
** User__
** User__
Pending games to join:
** User__
** User__
Invite friend/user to new game
Invite friend/user to new game
Invite friend/user to new game
Start a new game
Start a new game
Start a new game





If user is not logged in, they are only given singleplayer options
Log in to play multiplayer !

Anagrams             
Maybe a one sentence desc here
Word Hunt
Maybe a one sentence desc here
Word bites
Maybe a one sentence desc here
Start a new single player game
Start a new single player game
Start a new single player game





-->