<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goldEagles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <header>
        <h1>goldEagle</h1>
    </header>

    <nav class="navbar">
        <form action="/">
            <button type="submit" class="button1">Home</button>
        </form>
        <form action="/users">
            <button type="submit" class="button1">Users</button>
        </form>
        <form action="/mypages">
            <button type="submit" class="button1">My Pages</button>
        </form>
        <form action="/logout">
            <button type="submit" class="button">Log Out</button>
        </form>
    </nav>

    <hr>
    <br></br>
    {% if username %}
    <h2>Welcome back, {{ username }}!</h2>
    {% else %}
    <h2>Click here to Log in/Sign up!</h2>
    <div class="bottom">
        <form action="/login">
            <button type="submit" class="button2">Log in</button>
        </form>
        <form action="/signup">
            <button type="submit" class="button3">Sign Up</button>
        </form>
    </div>
    {% endif %}


    <br><br><br><br>
    <hr>
</body>

</html>