
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goldEagles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<!-- home.html
Nav bar (see above)
Profile info if logged in
Highest score for each game
Number of games played for each mode
Recent challenge history/log
Friends list if logged in
Sort by most recent?
Friends requests if logged in (Accept/Decline)
If not logged in, brief blurb about how guest mode is only single player and will not be saved
-->
<body>
    <header>
        <h1>goldEagle</h1>
    </header>
 <hr>
    <nav class="navbar">
        <form action="/">
            <button type="submit" class="button1">Home</button>
        </form>
        <form action="/users">
            <button type="submit" class="button1">Users</button>
        </form>
        <form action="/mypages">
            <button type="submit" class="button1">My Pages</button>
        </form>
        <form action="/logout">
            <button type="submit" class="button">Log Out</button>
        </form>
    </nav>

    <hr>
    <br></br>





    <form action="/anagrams">
        <button>Anagrams</button>
    </form>

    <form action="/wordhunt">
        <button>Word Hunt</button>
    </form>

    <form action="/wordBites">
        <button>Word Bites</button>
    </form>

</body>

</html>
