<!--wordhunt.html
Leaderboard
Has username and number of points in ascending order
Game
4x4 grid with letters in each grid
Users will be able to use their mouse when right-clicked to select a combination of letters on the grid adjacent to one another
Each generated grid must have at least a certain amount of possible combinations
Given that the word is present in our database, user will gain specific number of points depending on length of word
At the end of game, sends stats to player they are playing w/ and play button for them
After the game, if not already friended, popup asking if you’d like to friend the user
-->
{% extends "base.html" %}

{% block title %}Friends{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en" dir="lir">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
      <style type="text/tailwindcss">
              @layer utilities {
                  .content-auto {
                    content-visibility: auto;
                  }
              }
      </style>
  </head>
  <body>

    <!--from tailwind tutorial: https://flowbite.com/docs/components/toast/-->
    <div id="toast-simple" style="display: none;" class="flex items-center w-full max-w-screen mx-auto p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow-sm dark:text-gray-400 dark:divide-gray-700 dark:bg-gray-800" role="alert">
      <svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
      </svg>
      <div class="ps-4 text-sm font-normal"></div>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-4 w-full max-w-5xl mx-auto mt-4 p-4 bg-[#b4b86a] rounded-lg">
      <p id="score" class="text-black text-2xl text-center min-w-[110px]">Score: 0</p>
      <p id="timer" class="text-black text-2xl text-center min-w-[60px]">Time: 60</p>
      <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" id="startButton" class="rounded-lg text-2xl bg-[url(/static/img/wood.png)] px-6 py-3 transition" onclick="saveBoard()">Single Player Mode</button>
      <!--<button class="absolute top-[130px] transform -translate-x-1/2 rounded-lg p-5 text-3xl bg-blue-200" onclick="startGame(this)">Single Player Mode</button>-->

      <div style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" id="send_challenge" class="flex items-center gap-2 bg-[url(/static/img/wood.png)] rounded-lg p-3">
        <label>User ID:</label>
        <input id="friend_id" type="number" min="0" class="text-black text-lg">
        <button type="submit" class="bg-[#b4b86a] p-3 rounded" onclick="sendChallenge()">Send Challenge</button>
      </div>
    </div>

    <input style="display: none;" id="display" readonly class="bg-transparent border-4 border-transparent rounded text-center text-5xl">


    <div style="display: none;" id="letterString">{{letterString}}</div>
    <div id="board" class="border-[15px] border-[#b4b86a] w-full max-w-screen-sm aspect-square mx-auto mt-5 bg-[#475c47] p-7 rounded-lg">
      <div class="grid grid-cols-4 grid-rows-4 gap-6 h-full">
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-8xl text-transparent pb-4">{{LetterA}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterB}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterC}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterD}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterE}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterF}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterG}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterH}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterI}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterJ}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterK}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterL}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterM}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterN}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterO}}</button>
        <button style="box-shadow: 0px 11px 10px 4px rgba(0, 0, 0, 0.4);" type="button" class="letter-button bg-[url(/static/img/wood.png)] hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterP}}</button>
      </div>
    </div>
    
    <script>
      const display = document.getElementById("display");
      const board = document.getElementById("board");
      const stringLetter = document.getElementById("letterString").textContent;
      const score = document.getElementById("score");
      const time = document.getElementById("timer");
      const challenge = document.getElementById("send_challenge");
      const startButton = document.getElementById('startButton');
      let buttons = document.querySelectorAll(".letter-button");
      let selectedLetters = new Set(); //set to prevent same button to be selected twice
      let letterOrder = [];
      let currentWord = "";
      let wordBank = [];
      let selectedWords = []; //prevents repeats of words
      let game = false;
      let addLetters = true;
      let challengeGame = false; //determine if score needs to be saved into challenge db too
      let receivedGame = false; //determine if this is user #2 playing

      //starts game once board is saved
      function startGame() {
        startButton.style.display = "none";
        challenge.style.display="none";
        display.style.display="";
        currentWord = "";
        selectedLetters = new Set();
        letterOrder = [];
        addLetters = true;

        game = true;
        buttonBehavior();
        window.setInterval(() => {
          const currentTime = parseInt(time.textContent.match(/\d+/)[0]) - 1;
          if (currentTime>0){
            time.textContent = "Time: " + (currentTime);
          }
        }, 1000);

        setTimeout(() => {
          endGame();
        }, 60000);
      }

      function endGame() {
        game = false;
        buttonBehavior();

        //fetch method to save score
        let num = parseInt(score.textContent.match(/\d+/)[0])
        const gameData = new FormData();
        gameData.append('score', num);
        gameData.append('board_string', stringLetter);

        const soloUpdate = fetch('/update_wh_score', {
          method: 'POST',
          body: gameData
        }).then(response => response.text());

        const challengeUpdateA = challengeGame ? fetch('/update_whc_score_A', {
          method: 'POST',
          body: gameData
        }).then(response => response.text()) : Promise.resolve(null); //since conditinal on challengeGame

        const challengeUpdateB = receivedGame ? fetch('/update_whc_score_B', {
          method: 'POST',
          body: gameData
        }).then(response => response.text()) : Promise.resolve(null);

        Promise.all([soloUpdate, challengeUpdateA, challengeUpdateB])

        .then(([data1, data2, data3]) => {
          console.log(data1);
          if(data2) console.log(data2);
          if(data3) console.log(data3);

          console.log(receivedGame);
          console.log(challengeGame);
          if (receivedGame||challengeGame) {
            window.location.href = `/endgame?board_string=${stringLetter}&game_type=wordhunt&challenge=true`; //placeholder for end screen
          }
          else{
            window.location.href = `/endgame?board_string=${stringLetter}&game_type=wordhunt&challenge=false`;
          }
        })
        .catch(error => console.error(error));

      }

      function saveBoard() {
        const stringData = new FormData();
        stringData.append('board_string', stringLetter);
        //using js to send to backend to prevent page reload
        fetch('/add_wh_board', {
          method: 'POST',
          body: stringData
        })
        .then(response => response.text())
        .then(data => {
          console.log(data);
          startGame();
        })
        .catch(error => console.error(error));
      }

      function sendChallenge() {
        const inputVal = document.getElementById("friend_id");
        const friend_id = inputVal.value;

        const challengeData = new FormData();
        challengeData.append('board_string', stringLetter);
        challengeData.append('friend_id', friend_id);

        fetch('/send_wordhunt_challenge', {
          method: 'POST',
          body: challengeData
        })
        .then(response => response.json()) //.json since in python, jsonify is used
        .then(data => {
          if (data.redirect) {
            window.location.href = data.redirect;
            return;
          } else if (data.message) {
            toastAlert(data.message);
            if (data.message === "challenge request sent") {
              startGame();
              challengeGame = true;
            }
          }
        })
        .catch(error => console.error(error));
      }

      window.addEventListener('DOMContentLoaded', () => {
        const urlArgs = new URLSearchParams(window.location.search);
        if(urlArgs.has('board')){
          receivedGame = true;
          startGame();
        }
      })

      //for short alert messages
      function toastAlert(message) {
        const toast = document.getElementById('toast-simple');
        toast.textContent = message;
        toast.style.display = 'block';

        setTimeout(() => {
          toast.style.display = 'none';
        }, 1500);
      }

      //button behavior when users select them
      function buttonBehavior() {
        buttons = document.querySelectorAll(".letter-button");
        let haveListener = false;

        if (!haveListener){
          buttons.forEach(button => {
            button.addEventListener("pointerdown", (e) => {
              appendLetter(button);
              console.log('mouse is down');
            });
            button.addEventListener("pointerover", (e) => {
              if (e.buttons === 1 && selectedLetters.size > 0) {
                appendLetter(button);
              }
            });

            button.addEventListener("pointerup", (e) => {
              if (display.value.length > 2){
                checkWords();
              }
              setTimeout(() => {
                removeWord();
              }, 100);
            });
          });
          board.addEventListener("pointerup", (e) => {
            setTimeout(() => {
                removeWord();
            }, 100);
          });

          board.addEventListener("pointerleave", (e) => {
            setTimeout(() => {
                removeWord();
            }, 100);
          });
          haveListener = true;
        }

        if (game) {
          buttons.forEach(button => {
            button.classList.remove('text-transparent');
            button.classList.add('text-black');
            button.disabled = false;
          });
        } else {
          buttons.forEach(button => {
            button.classList.remove('text-black');
            button.classList.remove('bg-green-500');
            button.classList.add('text-transparent');
            button.classList.add('bg-[url(/static/img/wood.png)]');
            button.disabled = true;
          });
        }
      }

      //get valid words of a board from api
      async function getWords() {
        if (wordBank.length === 0) {
          const url = "https://api.whsolver.ajayganesh.com/solve?board=" + stringLetter
          try {
            const response = await fetch(url)
            if (!response.ok) {
              throw new Error(`Response status: ${response.status}`);
            }
            let json = await response.json();
            wordBank = json.data;
            wordBank = json.data.map(entry => entry.word);

            } catch (error) {
              console.error(error.message);
            }
        }
      }

      if (wordBank.length === 0){
        getWords();
      }

      //score function depending on length of word
      function addScore(word) {
        if(word.length === 3){
          appendToScore(100);
        }
        if(word.length === 4){
          appendToScore(400);
        }
        if(word.length === 5){
          appendToScore(800);
        }
        if(word.length === 6){
          appendToScore(1400);
        }
        if(word.length === 7){
          appendToScore(1800);
        }
        if(word.length === 8){
          appendToScore(2200);
        }
      }

      //check if word is in array of valid words
      async function checkWords() {
          displayWord = display.value;
          console.log(wordBank);
          console.log(stringLetter);

          if (wordBank.includes(displayWord) && !selectedWords.includes(displayWord)) {
            console.log(`✅ "${displayWord}" is a valid word!`);
            display.classList.add('border-green-500');

            addScore(displayWord);
            selectedWords.push(displayWord)

            const wordData = new FormData();
            wordData.append('word', displayWord);
            wordData.append('board_string', stringLetter);

            fetch('/add_wh_words', {
              method: 'POST',
              body: wordData
            })
            .then(response => response.text())
            .then(data => {
              console.log(data);
            })
            .catch(error => console.error(error));

            setTimeout(() => {
              display.classList.remove('border-green-500')
            }, 1000)
          } else if(wordBank.includes(displayWord) && selectedWords.includes(displayWord)){ //prevents dupes
            console.log(`"${displayWord}" already`);
          } else if (!wordBank.includes(displayWord)) {
            console.log(`❌ "${displayWord}" is NOT in the word bank.`);
            display.classList.add('border-red-500');

            setTimeout(() => {
              display.classList.remove('border-red-500');
            }, 1000)
          }
      }

      //display will show word with selected letters
      function appendLetter(button) {
        if (!selectedLetters.has(button) && addLetters) {
          selectedLetters.add(button);
          letterOrder.push(button);
          currentWord += button.textContent;
          appendToDisplay(currentWord);
          button.classList.remove('bg-[url(/static/img/wood.png)]');
          button.classList.add('bg-green-500');
          return;

        }

        if (selectedLetters.size > 1 && button === letterOrder[letterOrder.length - 2]){
          //if user selected just previously selected button, deselects proceeding letters
            const lastVal = letterOrder.pop();
            selectedLetters.delete(lastVal);
            lastVal.classList.remove('bg-green-500');
            lastVal.classList.add('bg-[url(/static/img/wood.png)]');
            currentWord = currentWord.slice(0, -1);
            appendToDisplay(currentWord);
            addLetters = true;
            console.log("backtrack");
            return;
        }

        if (selectedLetters.has(button)) {
          addLetters = false; //prevents users from hopping spaces by retracing already selected letters
        }

        if(display.value.length === 0){
          addLetters = true;
        }
        
      }

      function removeWord() {
        currentWord = "";
        selectedLetters.clear();
        letterOrder = [];
        addLetters = true;
        appendToDisplay(currentWord);
        buttons.forEach(button => {
          button.classList.remove('bg-green-500');
          button.classList.add('bg-[url(/static/img/wood.png)]');
        })
        console.log("_________________");
      }

      function appendToDisplay(input){
        display.value = input;
      }

      function appendToScore(input){
        let num = parseInt(score.textContent.match(/\d+/)[0]) + input;
        score.textContent = "Score: " + num;
      }

    </script>
  </body>
</html>

{% endblock %}
