<!--wordhunt.html
Leaderboard
Has username and number of points in ascending order
Game
4x4 grid with letters in each grid
Users will be able to use their mouse when right-clicked to select a combination of letters on the grid adjacent to one another
Each generated grid must have at least a certain amount of possible combinations
Given that the word is present in our database, user will gain specific number of points depending on length of word
At the end of game, sends stats to player they are playing w/ and play button for them
After the game, if not already friended, popup asking if you’d like to friend the user
-->
{% extends "base.html" %}

{% block title %}Friends{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en" dir="lir">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
      <style type="text/tailwindcss">
              @layer utilities {
                  .content-auto {
                    content-visibility: auto;
                  }
              }
      </style>
  </head>
  <body>
    <div class="absolute w-[170px] h-[100px] bg-blue-200 rounded-lg" style="top: 40vh; left: 15vw;">
      <p id="score" class=" p-1 text-white text-3xl">Score: 0</p>
      <p id="timer" class="text-white text-3xl"> 60</p>
      <button id="startButton" class="w-[250px] rounded-lg p-5 text-3xl bg-blue-200 mt-10" onclick="saveBoard()">Single Player Mode</button>
    </div>
    
    <div style="display: none;" id="letterString">{{letterString}}</div>
    <input style="display: none;" id="display" readonly class="bg-transparent border-4 block mx-auto my-4 p-2 border border-transparent rounded w-full max-w-screen-sm text-center text-5xl">
    <!--<button class="absolute top-[130px] transform -translate-x-1/2 rounded-lg p-5 text-3xl bg-blue-200" onclick="startGame(this)">Single Player Mode</button>-->

    <div id="send_challenge" class="bg-blue-300 inline-block rounded-lg p-3">
      <label>User ID:</label>
      <input id="friend_id" type="number" min="0" class="my-4 p-2">
      <button type="submit" class="bg-blue-200 p-3" onclick="sendChallenge()">Send Challenge</button>
    </div>

    <div id="board" class="w-full max-w-screen-sm aspect-square mx-auto mt-10 bg-blue-200 p-5 rounded-lg">
      <div class="grid grid-cols-4 grid-rows-4 gap-6 h-full">
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-8xl text-transparent pb-4">{{LetterA}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterB}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterC}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterD}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterE}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterF}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterG}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterH}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterI}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterJ}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterK}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterL}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterM}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterN}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterO}}</button>
        <button type="button" class="letter-button bg-blue-500 hover:bg-green-700 rounded-lg text-transparent text-8xl pb-4">{{LetterP}}</button>
      </div>
    </div>
    
    <script>
      const display = document.getElementById("display");
      const board = document.getElementById("board");
      const stringLetter = document.getElementById("letterString").textContent;
      const score = document.getElementById("score");
      const time = document.getElementById("timer");
      const challenge = document.getElementById("send_challenge");
      const startButton = document.getElementById('startButton');
      let buttons = document.querySelectorAll(".letter-button");
      let selectedLetters = new Set();
      let currentWord = "";
      let wordBank = [];
      let selectedWords = [];
      let game = false;
      let addLetters = true;

      //starts game once startbutton is clicked
      function startGame() {
        startButton.style.display = "none";
        challenge.style.display="none";
        display.style.display="";

        game = true;
        buttonBehavior();
        window.setInterval(() => {
          //const currentTime = parseInt(time.textContent.match(/\d+/)[0])
          if (time.textContent>0){
            time.textContent -= 1;
          }
        }, 1000);
        setTimeout(() => {
          endGame();
        }, 60000); //60 sec game time
      }

      function endGame() {
        game = false;
        buttonBehavior();
      }

      function saveBoard() {
        const stringData = new FormData();
        stringData.append('board_string', stringLetter);
        //using js to send to backend to prevent page reload
        fetch('/add_wh_board', {
          method: 'POST',
          body: stringData
        })
        .then(response => response.text())
        .then(data => {
          console.log(data);
        })
        .then(() => startGame())
        .catch(error => console.error(error));
      }

      function sendChallenge() {
        const inputVal = document.getElementById("friend_id");
        const friend_id = inputVal.value;

        const stringData = new FormData();
        stringData.append('board_string', stringLetter);

        fetch('/add_wh_board', {
          method: 'POST',
          body: stringData
        })
        .then(response => response.text())
        .then(data => {
          console.log(data);
          const challengeData = new FormData();
          challengeData.append('board_string', stringLetter);
          challengeData.append('friend_id', friend_id);
          fetch('/send_wordhunt_challenge', {
            method: 'POST',
            body: challengeData
          })
          .then(response => response.text())
        })
        .then(data => {
          startGame()
        })
        .catch(error => console.error(error));
      }

      //button behavior when users select them
      function buttonBehavior() {
        buttons = document.querySelectorAll(".letter-button");
        if (game == true){
          buttons = document.querySelectorAll(".letter-button");
          buttons.forEach(button => {
            button.classList.remove('text-transparent');
            button.classList.add('text-white');

            button.addEventListener("mousedown", () => appendLetter(button));
            button.addEventListener("mouseover", (e) => {
              if (e.buttons === 1) {
                appendLetter(button);
              }
            });

            button.addEventListener("mouseup", (e) => {
              if (display.value.length > 2){
                checkWords();
              }
              setTimeout(() => {
                removeWord();
              }, 500);
            })
          });

          board.addEventListener("mouseup", (e) => {
            setTimeout(() => {
                removeWord();
            }, 100);
          });

          board.addEventListener("mouseleave", (e) => {
            setTimeout(() => {
                removeWord();
            }, 100);
          });

        } else {
          buttons.forEach(button => {
            const newButton = button.cloneNode(true);
            newButton.classList.remove('text-white');
            newButton.classList.remove('bg-green-500');
            newButton.classList.add('text-transparent');
            newButton.classList.add('bg-blue-500');
            button.replaceWith(newButton);

          })
        }
      }

      //get valid words of a board from api
      async function getWords() {
        if (wordBank.length === 0) {
          const url = "https://api.whsolver.ajayganesh.com/solve?board=" + stringLetter
          try {
            const response = await fetch(url)
            if (!response.ok) {
              throw new Error(`Response status: ${response.status}`);
            }
            let json = await response.json();
            wordBank = json.data;
            wordBank = json.data.map(entry => entry.word);

            } catch (error) {
              console.error(error.message);
            }
        }
      }

      if (wordBank.length === 0){
        getWords();
      }

      //score function depending on length of word
      function addScore(word) {
        if(word.length === 3){
          appendToScore(100);
        }
        if(word.length === 4){
          appendToScore(400);
        }
        if(word.length === 5){
          appendToScore(800);
        }
        if(word.length === 6){
          appendToScore(1400);
        }
        if(word.length === 7){
          appendToScore(1800);
        }
        if(word.length === 8){
          appendToScore(2200);
        }
      }

      //check if word is in array of valid words
      async function checkWords() {
          displayWord = display.value;
          console.log(wordBank);
          console.log(stringLetter);

          if (wordBank.includes(displayWord) && !selectedWords.includes(displayWord)) {
            console.log(`✅ "${displayWord}" is a valid word!`);
            display.classList.add('border-green-500');

            addScore(displayWord);
            selectedWords.push(displayWord)

            const wordData = new FormData();
            wordData.append('word', displayWord);
            wordData.append('board_string', stringLetter);

            fetch('/add_wh_words', {
              method: 'POST',
              body: wordData
            })
            .then(response => response.text())
            .then(data => {
              console.log(data);
            })
            .catch(error => console.error(error));

            setTimeout(() => {
              display.classList.remove('border-green-500')
            }, 1000)
          } else if(wordBank.includes(displayWord) && selectedWords.includes(displayWord)){ //prevents dupes
            console.log(`"${displayWord}" already`);
          } else if (!wordBank.includes(displayWord)) {
            console.log(`❌ "${displayWord}" is NOT in the word bank.`);
            display.classList.add('border-red-500');

            setTimeout(() => {
              display.classList.remove('border-red-500');
            }, 1000)
          }
      }

      //display will show word with selected letters
      function appendLetter(button) {
        if (!selectedLetters.has(button) && addLetters) {
          selectedLetters.add(button);
          currentWord += button.textContent;
          appendToDisplay(currentWord);
          button.classList.remove('bg-blue-500');
          button.classList.add('bg-green-500');

        } else { //if user selected just previously selected button, deselects proceeding letters
          const iterator = selectedLetters.values();
          let lastVal;
          let secondLast;

          let current = iterator.next();
          while (!current.done) {
            secondLast = lastVal;
            lastVal = current.value;
            current = iterator.next();
          }

          if(button === secondLast) { //if user selected just previously selected button, deselects proceeding letters
            selectedLetters.delete(lastVal);
            lastVal.classList.remove('bg-green-500');
            lastVal.classList.add('bg-blue-500');
            currentWord = currentWord.slice(0, -1);
            appendToDisplay(currentWord);
          }
          else{
            addLetters = false; //prevents users from hopping spaces by retracing already selected letters
          }

          if(button === lastVal){
            addLetters = true;
          }

          if(display.value.length === 0){
            addLetters = true;
          }
        }
      }

      function removeWord() {
        currentWord = "";
        selectedLetters.clear();
        appendToDisplay(currentWord);
        buttons.forEach(button => {
          button.classList.remove('bg-green-500');
          button.classList.add('bg-blue-500');
        })
      }

      function appendToDisplay(input){
        display.value = input;
      }

      function appendToScore(input){
        let num = parseInt(score.textContent.match(/\d+/)[0]) + input;
        score.textContent = "Score: " + num;
      }

    </script>
  </body>
</html>

{% endblock %}