<!DOCTYPE HTML>
<html>
<head>
<style>
.box {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
}
</style>
<script>
<!--stores movement locations-->
const toFrom = {};

function dragstartHandler(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function dragoverHandler(ev) {
  ev.preventDefault();
}

function dropHandler(ev, boxNumber) {
  ev.preventDefault();
  const letter = ev.dataTransfer.getData("text");
  const imageElement = document.getElementById(letter);

  //to prevent moving a letter 2 a box w a letter alreadyy
  const dropTarget = ev.target;
  const box = dropTarget.classList.contains("box") ? dropTarget : dropTarget.closest(".box");
  if (box.querySelector("img")) {
    console.log(`Box ${boxNumber} already has an letter, cannot overlap`);
    return;
  }

  ev.target.appendChild(imageElement);



  const fromBox = toFrom[letter] || null;   //for later: make it not null but rather where they spawn
  const toBox = boxNumber;
  toFrom[letter] = toBox;

  fetch("/box_dropped", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      letter: letter,
      from_box: fromBox,
      to_box: toBox
    })
  })
  .then(response => response.json())
  .then(data => {
    console.log("Server response:", data);
  });
}
</script>
</head>
<body>
  <table>
    {% for row in range(5) %}
      <tr>
        {% for col in range(5) %}
          {% set box_number = row * 5 + col + 1 %}
          <td>
            <div class="box" id="box{{ box_number }}"
                 ondrop="dropHandler(event, {{ box_number }})"
                 ondragover="dragoverHandler(event)">
                 {% if box_number <= letters|length %}
                   {% set l, imgs = letters[box_number - 1] %}
                   <img id="{{ l }}" src="{{ imgs }}" draggable="true"
                        ondragstart="dragstartHandler(event)" width="100" height="100">
                  {% endif %}
            </div>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>


</body>
</html>

<!--wordbites.html
Leaderboard
Has username and number of points in ascending order
Game
8x9 board
first working version: letters randomly generated (weighted) and placed on board. scrabble style, ability to move tiles. after every move, checks every row and col for consecutive tiles making a word (with blank tiles on either side). words won't be counted twice. points based on word length
later: “double tiles”
later: (using someone else’s existing) solver to try to approximate number of words that can be made with letters to ensure a playable board
At the end of game, sends stats to player they are playing w/ and play button for them
After the game, if not already friended, popup asking if you’d like to friend the user
-->
